.postit{
    width: 190px;
    height: 110px;
    margin: 24px 0;
    padding: 16px;
}
.postit-titre{

}

.postit-content{

}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}