{% extends 'base.html.twig' %}

{% block body %}

    <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card-2 w3-round w3-white">
                <div class="w3-container w3-padding">
                    <h6 class="w3-opacity">Créer Tâche</h6>

                    {{ form_start(formPostit) }}
                    {{ form_widget(formPostit) }}
                    {{ form_end(formPostit) }}

                   {#  <button type="button" class="w3-btn w3-theme"><i class="fa fa-pencil"></i> &nbsp;Post</button> #}
                </div>
            </div>
        </div>
    </div>





{% endblock %}